.DashBoard{
    display: grid;
    place-items: center;        
  }
  .InputScreen{        
    width: 50%;
    margin-bottom: 40px;
  }
  .DeterministicResults{
    width: 100%;  
    margin-top: 0;
    display: grid;
    place-items: center;
    background-color: #F9F9FB;
    border-bottom: 1px solid black;
  }
  .ProbabilisticResults{
    width: 100%;
    margin-top: 0;
    display: grid;
    place-items: center;
    background-color: #F9F9FB;
  }
  .Results{
    width: 50%;
    margin-bottom: 2%    
  }
  .LineAndScatter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px; 
    margin: 1%;   
  }   