.dashboard{
    display: flex;
    flex-direction: column;
  }
  .LineAndScatter{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  .TornadoDiagram{
    margin: 2px;   
    width: "100%";
  }
  