.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.input-group {  
  display: grid;  
  align-items: center;  
  justify-content: center; 
}
.input-group:not(:last-child) p::after {
  content: "*";
  color: red;
}
h1{
  margin-top: 10%;  
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 27px;
}
h1,
p {
  font-family: 'Open Sans';
  text-align: center;
}
.input-group p{
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  width: 100px;
  font-weight: 400;
}

.input-group input[type="text"] {
  background-color: #f8f8f8;
  border: none;
  border-radius: 3.5px;  
  width: 95px;
  height: 30px;
  margin-top: 5px;  
  font-size: 16px;
  font-family: 'Open Sans'; 
  text-align: center;  
}
