/* generate button */
.button-generate {
  background-color: rgba(255, 147, 30, 1);
  color: white;
  font-size: 20px;
  /* padding: 15px 20px; */
  width: 117px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-generate:hover {
  cursor: pointer;
  background-color: orange;
}

.grid-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-left: 40px;
  gap: 60px;
}

.rows::-webkit-scrollbar {
  height: 5px;
}

.rows::-webkit-scrollbar-track {
  background: rgb(240, 227, 213);
  border-radius: 100vh;
}

.rows::-webkit-scrollbar-thumb {
  background: rgba(255, 147, 30, 1);
  border-radius: 100vh;
}

.rows::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 133, 16);
}

.rows {
  display: flex;
  overflow-x: auto;
}

.rows label {
  margin-bottom: 30px;
  font-weight: 600;
}

.variables {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.grid-container .table {
  display: flex;
  /* gap: 20px; */
}

.columns .column-title {
  font-size: 20px;
  font-weight: 600;
}

.columns {
  /* margin-top: 65px; */
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  font-size: 15px;
}

.column-values {
  width: 300px;
}

.columns .label-container {
  margin-bottom: 11px;
}

.variables input {
  width: 190px;
  height: 30px;
  background-color: #fbfbfc;
  border: 1px solid #e8e8e8;
  padding: 0 10px;
  transition: 100ms ease-in-out;
}

.variables input:hover {
  background-color: rgb(233, 233, 233);
}

.variables input:focus {
  background-color: white;
}
